<!-- gitapp/templates/gitapp/editar_usuario.html -->

{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuario - Entrenamiento Diario</title>
    <link rel="stylesheet" href="{% static 'gitapp/estilo.css' %}">
</head>
<body>

<header>
    <h1>Editar Usuario</h1>
</header>

<nav>
    <ul>
        <li><a href="{% url 'ejercicios' %}">Ejercicios</a></li>
        <li><a href="{% url 'rutinas' %}">Rutinas</a></li>
        <li><a href="{% url 'usuarios' %}">Usuarios</a></li>
    </ul>
</nav>

<main>
    <h2>Formulario para Editar Usuario</h2>
    <form action="{% url 'editar_usuario' usuario.id %}" method="POST">
        {% csrf_token %}
        
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="{{ usuario.nombre }}" required><br>
        
        <label for="nivel_condicion">Nivel de Condición Física:</label>
        <select id="nivel_condicion" name="nivel_condicion" required>
            <option value="Bajo" {% if usuario.nivel_condicion_fisica == "Bajo" %}selected{% endif %}>Bajo</option>
            <option value="Medio" {% if usuario.nivel_condicion_fisica == "Medio" %}selected{% endif %}>Medio</option>
            <option value="Alto" {% if usuario.nivel_condicion_fisica == "Alto" %}selected{% endif %}>Alto</option>
        </select><br>
        
        <label for="rutinas_completadas">Rutinas Completadas:</label>
        <select id="rutinas_completadas" name="rutinas_completadas" multiple>
            {% for rutina in rutinas %}
                <option value="{{ rutina.id }}" {% if rutina in usuario.rutinas_completadas.all %}selected{% endif %}>{{ rutina.nombre }}</option>
            {% endfor %}
        </select><br>
        
        <button type="submit">Guardar Cambios</button>
    </form>
</main>

</body>
</html>
